<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/bootstrap.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="module" src="/scripts.js"></script>
</head>
<body>
    <!-- section with tables list -->
    <div class="list-group" style="width: 300px; height: 100vh; overflow: auto; display: inline-block">
        <form action="/docs/columns/search" method="POST" style="margin-bottom: 20px">
            <div style="text-align: center;">
                <label>Search</label>
            </div>
            <div style="text-align: center;">
                <input type="input" name="searchBar" value ="<%= searchedQuery %>">
                <button type="submit" name="tableId" value="<%= selected_doc.tableId %>">Search</button>
            </div>
        </form>
        <% docs.forEach(doc => { %>
            <% if (doc.tableId == selected_doc.tableId) { %>
                <div class="list-group-item list-group-item-action active" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                <% if (searchedQuery != '') { %>
                    <a href="/docs/<%= doc.tableId %>/table?searchedQuery=<%= searchedQuery %>" style="color: white">
                <% } else { %>
                    <a href="/docs/<%= doc.tableId %>/table" style="color: white"></a>
                <% } %>
            <% } else { %>
                <div class="list-group-item list-group-item-action" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                <% if (searchedQuery != '') { %>
                    <a href="/docs/<%= doc.tableId %>/table?searchedQuery=<%= searchedQuery %>">
                <% } else { %>
                    <a href="/docs/<%= doc.tableId %>/table">
                <% } %>
            <% } %>
                        <%= doc.tableName %>
                    </a>
                    <div style="text-overflow: ellipsis; overflow: hidden">
                        <%= doc.tableDescription %>
                    </div>
                </div>
        <% }) %>
    </div>

    <!-- section with a documentation -->
    <div style="display: inline-block; vertical-align: top; margin-top:20px; margin-left:20px">
        <!-- logout button -->
        <form action="/logout?_method=DELETE", method="POST">
            <header>
                <h1 style="display: inline"><%= selected_doc.tableName %></h1>
                <button type="submit" style="position: absolute; right: 50px">Logout</button>
            </header>
        </form>
        <!-- buttons redirecting to a page with table and columns descriptions -->
        <div style="margin-top:20px">
            <% if (searchedQuery != '') { %>
                <a href="/docs/<%= selected_doc.tableId %>/table?searchedQuery=<%= searchedQuery %>">Table</a>
                <a href="/docs/<%= selected_doc.tableId %>/columns?searchedQuery=<%= searchedQuery %>">Columns</a>
            <% } else { %>
                <a href="/docs/<%= selected_doc.tableId %>/table">Table</a>
                <a href="/docs/<%= selected_doc.tableId %>/columns">Columns</a>
            <% } %>
        </div>
        <!-- documentation for columns -->
        <form action="/docs/<%= selected_doc.tableId %>/columns?_method=PUT&searchedQuery=<%= searchedQuery %>" method="POST" style="margin-top:20px">
            <div style="display: inline-block">
                <table class="table table-bordered">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Column</th>
                        <th scope="col">Description</th>
                    </tr>
                    <% selected_doc.columns.forEach((column, index) => { %>
                        <tr>
                            <th scope="row"><%= index %></th>
                            <th scope="row">
                                <div name="column_name_<%= index %>"><%= column.columnName %></div>
                            </th>
                            <th scope="row">
                                <% if (readOnly) { %>
                                    <textarea rows="1" cols="150" name="column_description_<%= index %>" readonly><%= column.columnDescription %></textarea>
                                <% } else { %>
                                    <textarea rows="1" cols="150" name="column_description_<%= index %>"><%= column.columnDescription %></textarea>
                                <% } %>
                            </th>
                        </tr>
                    <% }) %>
                </table>
            </div>
            <% if (!readOnly) { %>
                <button type="submit" class="btn btn-primary" style="vertical-align: top; display:inline-block">
                    Save
                </button>
            <% } %>
        </form>
    </div>
</body>
</html>